#craqbox {
  position: absolute;
  z-index: 1003;
  background: #edf5fa;  /* Duplicated for IE 6 opacity fading. */
  border: 2px solid #0072b9;
  text-align: left; /* IE 6.. wtf? */
  display: none;
}
#craqbox .title_bar {
  padding: 2px 4px;
  background: #2385c2;
  border-bottom: 2px solid #0072b9;
  cursor: default;
}
#craqbox h3.title {
  margin: 0; padding: 0;
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  cursor: default;
}

#craqbox .content {
  padding: 5px 4px;
  background: #ffffff;  /* Duplicated for IE 6 opacity fading. */
} 
#craqbox .close_button_container {
  position: absolute;
  z-index: 1004;
  top: 2px;
  right: 0px;
}
#craqbox a.close_button {
  font-size: 18px;
  font-weight: bold;
  padding: 2px 4px;
  color: #ffffff;
}
#craqbox a.close_button:hover {
  text-decoration: none;
  color: #0072b9;
  background: #ffffff;
}
#craqbox iframe.frame_class {
  width: 700px; 
  height: 500px;
  border: 0;
}
#craqbox .spinner {
  background: url('images/spinner.gif') no-repeat;
  background-position: 50% 50%;
}

#craqbox_hider {
  z-index: 1002;
  position: absolute;
  top: 0; left: 0;
  background: #000000;
}
